@model Category



<form method ="Post" asp-action="Create">
    <div class="border backgroundWhite">
        <br />
        <h2 class="text-secondary"> Create Category  </h2>
        <br />
        <div asp-validation-summary="ModelOnly" class="text-danger" />
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Name" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Name" class="form-control" />
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="CreateBacktoListButton" />
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}